#container {
    display: none;
    margin: 70px;
}

#btn-start {
    display: flex;
    justify-content: center;
}

#btn-btn-start {
    margin-top: 50px;
    width: 176px;
    height: 49px;
    font-size: 20px;
    box-shadow: 9px 7px 20px 0px #0000004d;
}

#button {
    width: 61px;
    height: 64px;
    font-size: 25px;
    margin: 10px;
    box-shadow: 9px 7px 20px 0px #0000004d;
}

.key-word {
    border: solid;
    border-color: #6C757D;
    border-width: 2px;
    border-radius: 5px;
    height: 55px;
}

.font-weight-light{
    margin-bottom: 0px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 10px;
}